.sliderContainer {
  position: relative;
  width: 100%;
  height: 760px;
  overflow: hidden;

  @media (max-width: 1120px) {
    height: 620px;
  }
}

.swiperContainer {
  width: 100%;
  height: 100%;
  position: relative;
}


.swiperPaginationBullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid white;
  margin: 0 10px !important;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 999;

  &:hover {
    background-color: white;
  }
  .swiper-pagination-bullet-active {
    background-color: white !important;
  }
}

.swiperPaginationBulletActive {
  background-color: white !important;
  width: 12px;
  height: 12px;
  border: 1px solid white;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.slideWrapper {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 80%;
  height: 120%;
  background: rgba(0, 168, 89, 0.85);
  transform: translateY(-50%);
  clip-path: ellipse(60% 85% at left center);

  @media (max-width: 1120px) {
    width: 100%;
    height: 100%;
    clip-path: none;
    opacity: 0.65;
  }
}

.contentWrapper {
  position: relative;
  max-width: 1544px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 2;
}

.content {
  color: white;
  max-width: 690px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 1rem;
  max-width: 500px;

  @media (max-width: 620px) {
    font-size: 33px;
  }
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 500px;
}

.buttons {
  display: flex;
  gap: 1rem;

  @media (max-width: 1120px) {
    flex-direction: column;
    max-width: 200px;
  }

  .button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 100px;
    font-weight: bold;
    font-family: "Plus Jakarta Sans";
    cursor: pointer;
    transition: all 0.3s ease;

    @media (max-width: 1120px) {
      padding: 12px 20px;
      font-size: 14px;
    }

    &.register {
      background-color: white;
      color: #00A859;
      border: 1px solid white;

      &:hover {
        background-color: transparent;
        color: #fff;
      }
    }

    &.involved {
      background-color: transparent;
      color: white;
      border: 1px solid white;

      &:hover {
        background-color: #fff;
        color: #00A859;
      }
    }
  }
}


