body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.button {
    padding: 14px 28px;
    border: 1.2px solid #00a859;
    background: transparent;
    color: #00a859;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border-radius: 61.67px;
  }

  .button:hover {
    background: #00a859;
    color: #fff;
  }