.footer {
    background: #fff;
    color: #1E1E1E;
    padding: 60px 0px 0px 0px;

    @media (max-width: 1500px) {
      padding: 60px 10px 0px 10px;
    }

    .accordionTitle {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      margin: 0;
    
      @media (min-width: 756px) {
        cursor: default;
      }
      @media (max-width: 756px) {
        border-bottom: 1px solid #E0E0E0;
      }
    }
    
    .accordionIcon {
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
    
      @media (min-width: 756px) {
        display: none;
      }
    }
    
    .accordionContent {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    
      @media (min-width: 756px) {
        max-height: none;
        overflow: visible;
      }
    }
    
    .accordionContent.open {
      max-height: 500px;
    }
    
  
    .container {
      max-width: 1544px;
      margin: 0 auto;
    }
  
    .footerTop {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;
      align-items: start;
  
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
  
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: left;
        padding: 20px;
      }
  
      .footerColumn {
        .footerLogo {
          @media (max-width: 768px) {
            margin: 0 auto;
            display: flex;
            justify-content: center;
          }
        }
        .logoHeading {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 15px;
          color: #1E1E1E;

          @media (max-width: 756px) {
            text-align: center;
          }
        }
        h4 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 15px;
          color: #1E1E1E;

        }

        p {
            line-height: 28px;
            font-size: 17px;
            color: #454545;

            @media (max-width: 756px) {
              text-align: center;
            }
        }
  
        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          @media (max-width: 756px) {
            justify-content: center;
          }
  
          li {
            margin-bottom: 10px;
  
            a {
              color: #1E1E1E;
              text-decoration: none;
              font-size: 14px;
              transition: color 0.3s ease;
  
              &:hover {
                color: #00a859;
              }
            }
          }
        }
  
        .socialIcons {
          display: flex;
          gap: 10px;
          padding: 0;
          margin-top: 30px;
  
          li {
            list-style: none;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              color: #222;
              font-size: 18px;
            }
          }
        }
      }
    }
  
    .footerBottom {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px 0;
      background: #F7F7F7;
      margin-top: 40px;

      .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 15px;
        }
      }
  
      @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        gap: 10px;
      }
  
      .copyright {
        font-size: 14px;
        color: #1E1E1E;
      }
  
      .footerLinks {
        display: flex;
        gap: 15px;
  
        a {
          color: #1E1E1E;
          font-size: 14px;
          text-decoration: none;
          transition: color 0.3s ease;
  
          &:hover {
            color: #00a859;
          }
        }
      }
    }
  }
  